body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: white;
    color: #333;
    border-radius: 5px;
}

#navbar.scrolled {
    background-color: #555;
}

section {
    padding: 100px 20px;
    max-width: 800px;
    margin: auto;
}

section h1, section h2 {
    margin-top: 0;
}

section#home {
    padding-top: 150px; /* To account for the fixed header */
    text-align: center;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
}
